# Exercises

## Question 1

Evaluate the following expression: `(x < y) or (not(z == y) and (z < x))`
  * x = 0, y = 6, z = 10
  * x = 1, y = 1, z = 1

In [1]:
(0 < 6) or (not(10 == 6) and (10 < 0))

True

In [2]:
(1 < 1) or (not(1 == 1) and (1 < 1))

False

## Question 2

Evaluate the following expressions involving arithmetic operators:
  1. `-7 * 20 + 8 / 16 * 2 + 54`
  2. `7 ** 2 // 9 % 3`
  3. `( 7 – 4 * 2 ) * 10 / 5 ** 2 + 15`
  4. `5 % 10 + 10 – 25 * 8 // 5`
  5. `' hello' * 2 - 5`

In [3]:
-7 * 20 + 8 / 16 * 2 + 54

-85.0

In [4]:
7 ** 2 // 9 % 3

2

In [5]:
(7 - 4 * 2) * 10 / 5 ** 2 + 15

14.6

In [6]:
5 % 10 + 10 - 25 * 8 // 5

-25

In [7]:
' hello' * 2 - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

## Question 3

Evaluate the following expressions involving relational and logical operators:

  1. `'hi' > 'hello' and 'bye' < 'Bye'` 
  2. `'hi' > 'hello' or 'bye' < 'Bye'` 
  3. `7 > 8 or 5 < 6 and 'I am fine' > 'I am not fine'` 
  4. `10 != 9 and 29 >= 29` 
  5. `10 != 9 and 29 >= 29 and 'hi' > 'hello' or 'bye' < 'Bye' and 7 <= 2.5`

In [8]:
'hi' > 'hello' and 'bye' < 'Bye'

False

In [9]:
'hi' > 'hello' or 'bye' < 'Bye'

True

In [10]:
7 > 8 or 5 < 6 and 'I am fine' > 'I am not fine'

False

In [11]:
10 != 9 and 29 >= 29

True

In [12]:
10 != 9 and 29 >= 29 and 'hi' > 'hello' or 'bye' < 'Bye' and 7 <= 2.5

True

## Question 4

Evaluate the following expressions involving arithmetic, relational, and logical operators:

  1. `5 % 10 + 10 < 50 and 29 >= 29` 
  2. `7 ** 2 <= 5 // 9 % 3 or 'bye' < 'Bye'` 
  3. `5 % 10 < 10 and – 25 > 1 * 8 // 5` 
  4. `7 ** 2 // 4 + 5 > 8 or 5 != 6` 
  5. `7 / 4 < 6 and 'I am fine' > 'I am not fine'` 
  6. `10 + 6 * 2 ** 2 != 9 // 4 - 3 and 29 >= 29 / 9` 
  7. `'hello' * 5 > 'hello' or 'bye' < 'Bye'`

In [13]:
5 % 10 + 10 < 50 and 29 >= 29

True

In [14]:
7 ** 2 <= 5 // 9 % 3 or 'bye' < 'Bye'

False

In [15]:
5 % 10 < 10 and - 25 > 1 * 8 // 5

False

In [16]:
7 ** 2 // 4 + 5 > 8 or 5 != 6

True

In [17]:
7 / 4 < 6 and 'I am fine' > 'I am not fine'

False

In [18]:
10 + 6 * 2 ** 2 != 9 // 4 - 3 and 29 >= 29 / 9

True

In [19]:
'hello' * 5 > 'hello' or 'bye' < 'Bye'

True

## Question 6

Evaluate the following expressions involving bitwise operators: 

1. 15 & 22 
2. 15 | 22 
3. -15 & 22 
4. -15 | 22 
5. ~15 
6. ~22 
7. ~-20 
8. 15 ^ 22 
9. 8 << 3 
10. 40 >> 3

In [20]:
15 & 22

6

In [21]:
15 | 22

31

In [22]:
-15 & 22

16

In [23]:
-15 | 22

-9

In [24]:
~15

-16

In [25]:
~22

-23

In [26]:
15 ^ 22

25

In [27]:
8 << 3

64

In [28]:
40 >> 3

5

## Question 7

What output will be displayed when the following commands are executed in Python shell in sequence: 

  1. ```python
     >>> a = 6
     >>> a == 6 
     >>> a < 5.9 
     >>> a > 5.9
     ```
  2. ```python
     >>> b = 7 
     >>> b / 6 
     >>> b // 6 
     >>> b / 4 
     >>> b % 4 
     >>> b % 7 
     >>> b * 2 
     >>> b ** 2
     ```

In [29]:
a = 6

In [30]:
a == 6

True

In [31]:
a < 5.9

False

In [32]:
a > 5.9

True

In [33]:
b = 7

In [34]:
b / 6

1.1666666666666667

In [35]:
b // 6

1

In [36]:
b / 4

1.75

In [37]:
b % 4

3

In [38]:
b % 7

0

In [39]:
b * 2

14

In [40]:
b ** 2

49

## Question 10

Write Python statements for the following equations:

  1. $root1 = \frac{-b + \sqrt{b^2 + 4ac}}{2a}$
  2. $result = \frac{2xy - 9y}{2xy^3} - \frac{4yx^2}{2y}$
  3. $result = 2 \cos{\frac{1}{2} (x + y)} \cos{\frac{1}{2} (x - y)} + e^x - 1 - \frac{x}{4} + \tan{x} - \log{y}$  
  
  
  1. ```python
     import math
     root1 = (-b + math.sqrt((b ** 2) + 4 * a * c)) / (2 * a)
     ```
  2. ```python
     import math
     result = ((2 * x - 9 * y) / (2 * x * (y ** 3))) - ((4 * y * (x ** 2)) / (2 * y))
     ```
  3. ```python
     import math
     result = 2 * math.cos((x + y) / 2) * math.cos((x - y) / 2) + math.exp(x) - 1 - (x / 4) + math.tan(x) - math.log(y)
     ```